.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #fffefd;
  width: 1920px;
  height: 3488px;
  position: relative;
  overflow: hidden;
}
.header {
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 22px;
  top: 113px;
}
.header-background {
  width: 1920px;
  height: 1130px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ellipse-255 {
  background: #fd5956;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 902px;
  top: 555px;
}
.nav-bar {
  width: 1920px;
  height: 126px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.navigaiton-items {
  position: absolute;
  inset: 0;
}
.home-active {
  width: 54px;
  height: 22px;
  position: static;
}
.home {
  color: #fd5956;
  text-align: left;
  font: 400 18px/20px "Poppins", sans-serif;
  position: absolute;
  left: 602px;
  top: 52px;
}
.line-13 {
  border-style: solid;
  border-color: #fd5956;
  border-width: 2px 0 0 0;
  width: 28px;
  height: 0px;
  position: absolute;
  left: 602px;
  top: 74px;
}
.about-me {
  color: #000000;
  text-align: left;
  font: 400 18px/20px "Poppins", sans-serif;
  position: absolute;
  left: 905px;
  top: 53px;
}
.contact {
  color: #000000;
  text-align: left;
  font: 400 18px/20px "Poppins", sans-serif;
  position: absolute;
  left: 1243px;
  top: 53px;
}
.portfolio-btn {
  position: absolute;
  inset: 0;
}
.rectangle-3801 {
  background: #000000;
  width: 188px;
  height: 52px;
  position: absolute;
  left: 1580px;
  top: 37px;
}
.portfolio-here {
  color: #fffefd;
  text-align: left;
  font: 600 18px "Poppins", sans-serif;
  position: absolute;
  left: 1610.5px;
  top: 48.5px;
}
.header-details {
  width: 558px;
  height: 577px;
  position: absolute;
  left: 248px;
  top: 188px;
}
.title {
  position: absolute;
  inset: 0;
}
.hey-i-m-camila-prates {
  text-align: left;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 468px;
}
.hey-i-m-camila-prates-span {
  color: #000000;
  font: 600 20px/30px "Poppins", sans-serif;
}
.hey-i-m-camila-prates-span2 {
  color: #000000;
  font: 600 32px/32px "Poppins", sans-serif;
}
.hey-i-m-camila-prates-span3 {
  color: #fd5956;
  font: 600 32px/32px "Poppins", sans-serif;
}
.proffession {
  position: absolute;
  inset: 0;
}
.full-stack {
  color: #000000;
  text-align: left;
  font: 600 100px/100px "Poppins", sans-serif;
  position: absolute;
  left: 0px;
  top: 112px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.developer {
  color: #000000;
  text-align: left;
  font: 600 100px/110px "Poppins", sans-serif;
  position: absolute;
  left: 69px;
  top: 197px;
  width: 549px;
  height: 124px;
}
.to-be {
  color: #000000;
  text-align: right;
  font: 600 100px/110px "Poppins", sans-serif;
  position: absolute;
  left: 69px;
  top: 301px;
  width: 549px;
  height: 124px;
}
.description {
  position: absolute;
  inset: 0;
}
.learning-web-development-will-be-a-thrilling-journey-and-now-i-m-crafting-my-first-profile-web-page-it-s-more-than-code-it-s-a-digital-expression-of-my-skills-and-passions-here-s-to-the-exciting-possibilities-ahead {
  color: #000000;
  text-align: justified;
  font: 400 20px "Poppins", sans-serif;
  position: absolute;
  left: -7px;
  top: 451px;
  width: 625px;
  height: 126px;
}
.social-links {
  position: absolute;
  left: 0px;
  top: 613px;
  overflow: visible;
}
.header-image-view {
  position: absolute;
  left: 1115px;
  top: 252px;
  overflow: visible;
}
.footer {
  width: 1920px;
  height: 998px;
  position: absolute;
  left: 0px;
  top: 2772px;
}
.contact-heading {
  position: absolute;
  inset: 0;
}
.contact2 {
  color: #fd5956;
  text-align: center;
  font: 600 65px/100px "Poppins", sans-serif;
  position: absolute;
  left: 818px;
  top: 252px;
}
.camilaprates-1-gmail-com {
  color: #000000;
  text-align: center;
  font: 400 32px "Poppins", sans-serif;
  position: absolute;
  left: 523px;
  top: 372px;
  width: 875px;
}
.about-me2 {
  width: 1920px;
  height: 1752px;
  position: absolute;
  left: 13px;
  top: 1240px;
}
.about-heading {
  position: absolute;
  inset: 0;
}
.about-me3 {
  text-align: center;
  font: 600 65px/100px "Poppins", sans-serif;
  position: absolute;
  left: 789px;
  top: 80px;
}
.about-me-3-span {
  color: #000000;
  font: 600 65px/100px "Poppins", sans-serif;
}
.about-me-3-span2 {
  color: #fd5956;
  font: 600 65px/100px "Poppins", sans-serif;
}
.i-am-a-brazilian-now-embracing-the-canadian-way-of-life-with-a-passion-for-pets-and-a-web-development-learner-i-am-weaving-together-brazilian-warmth-and-canadian-coolness-in-every-line-of-code-web-development-in-agriculture-merges-tradition-with-technology-streamlining-farming-practices-and-fostering-community-connections-it-s-where-the-past-and-the-future-unite-for-a-more-sustainable-and-efficient-agricultural-landscape-navigating-the-challenges-as-a-woman-in-agriculture-and-technology-demands-determination-and-resilience-in-these-male-dominated-fields-i-see-every-obstacle-as-an-opportunity-to-prove-my-capabilities-and-foster-inclusivity-contributing-to-a-more-equitable-future {
  color: #000000;
  text-align: justified;
  font: 400 40px "Poppins", sans-serif;
  position: absolute;
  left: calc(50% - 673px);
  top: 232px;
  width: 1345px;
  height: 1182px;
}
.image-model {
  position: absolute;
  left: 22px;
  top: 1830px;
  overflow: visible;
}
